<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Create course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-shell">
  <ion-card title="Create Course form">
    <ion-card-content>
      <form [formGroup]="courseForm" (ngSubmit)="createCourse()">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Summary</ion-label>
          <ion-input formControlName="summary"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Level</ion-label>
          <ion-input formControlName="level"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Subject ID (optional)</ion-label>
          <ion-input formControlName="subjectId"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" [disabled]="busy" title="Create course">Create course</ion-button>
      </form>
      <div *ngIf="message" class="feedback success">{{ message }}</div>
      <div *ngIf="error" class="feedback error">{{ error }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
