<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Create student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-shell">
  <ion-card title="Create Student form">
    <ion-card-content>
      <form [formGroup]="studentForm" (ngSubmit)="createStudent()">
        <ion-item *ngFor="let f of ['username','password','firstName','lastName']">
          <ion-label position="stacked">{{ f }}</ion-label>
          <ion-input [type]="f === 'password' ? 'password' : 'text'" [formControlName]="f"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Stage / Level</ion-label>
          <ion-select formControlName="stage" (ionChange)="onStageChanged()">
            <ion-select-option *ngFor="let s of stages" [value]="s.stageId">{{ s.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="studentForm.get('stage')?.value">
          <ion-label position="stacked">Sublevel (optional)</ion-label>
          <ion-select formControlName="subLevelId" placeholder="Select sublevel">
            <ion-select-option *ngIf="(sublevels || []).length === 0" disabled>No sublevels for selected stage</ion-select-option>
            <ion-select-option *ngFor="let sl of sublevels" [value]="sl.subLevelId">{{ sl.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <div *ngIf="message" class="feedback success">{{ message }}</div>
        <div *ngIf="error" class="feedback error">{{ error }}</div>

        <ion-button type="submit" expand="block" [disabled]="busy" title="Create student" style="margin-top:16px">Create student</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
