<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Create lesson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-shell">
  <ion-card title="Create Lesson form">
    <ion-card-content>
      <form [formGroup]="lessonForm" (ngSubmit)="createLesson()">
        <ion-item>
          <ion-label position="stacked">Course ID</ion-label>
          <ion-input formControlName="courseId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Body (markdown)</ion-label>
          <ion-input formControlName="bodyMarkdown"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Resource URL</ion-label>
          <ion-input formControlName="resourceUrl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Order</ion-label>
          <ion-input type="number" formControlName="order"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Duration minutes</ion-label>
          <ion-input type="number" formControlName="durationMinutes"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" [disabled]="busy" title="Create lesson">Create lesson</ion-button>
      </form>
      <div *ngIf="message" class="feedback success">{{ message }}</div>
      <div *ngIf="error" class="feedback error">{{ error }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
